@charset "UTF-8";
 *{
    margin: 0px;
    padding: 0px;
 }

html body{
   
    background-color: black;
    background-image: url(imagens/fundo-mapa.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;



    width: 85vw;
    max-width: 700px;
  

    margin: auto;
    
  
   

}

section{
    
    background: rgba(255, 255, 255, 0.866);
    

    border: solid black;
    
}


.container{
     display: flex;
     justify-content: center;
}

header h1{

   
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 10px;
    padding: 3px;
    padding-top: 30px;
        
 }


 header #mala{
   

    width: 60px;
    
    position: absolute;

    transform: translate(-210%, 114% );



        
 }

   



nav{
    background-color: black;
    padding: 5px;
    width: 250px;
    margin: auto;

    border-radius: 10px;
    text-align: center;

    margin-bottom: 50px;
    z-index: 1;
    
}
nav a{
    font-size: 0.9em;
    color: white;
    padding: 3px;
    margin: 2px;
    text-decoration: none;
    
   
}
nav a:hover{
    text-decoration: underline;
    color: gray;
    text-transform: uppercase;
}

#aviao{
   
    width: 250px;
    
    position: absolute;
    transform: translate(21%, -4%);
    

 
}

main #balao{
    margin: auto;
    display: block;
   
    width: 200px;
    height: 160px;

}

div.container p{
    width: 110px;
    padding-right: 10px;
    text-indent: 10px;
    text-align: justify;
    background-color: rgba(255, 254, 254, 0.496);
    border-radius: 15px;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.382);
    margin-bottom: 8px;
  
   
}


img#familia{
    width: 130px;
    padding-left: 10px;
    
    
    
}





footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}